
/*General Styles*/
body {
  background-image: url(./pictures/background-body.png);
  background-repeat: no-repeat;
  background-position: 61% 100%;
  background-size: 2560px 1440px;
}

/* Adjust background image in higher resolutions*/
@media (min-width: 1920px) {
    body{
        background-attachment: fixed;
    }
}

/*Container flex*/
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 0px auto;
  margin-top: 30px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inherit {
  display: inherit;
}

.p-absolute {
  position: absolute;
}

/*Header styles*/
.box-header {
  margin-bottom: 30px;
}

.img-header-back-size {
  background-size: cover;
}

.left-caracter {
  width: 180px;
  height: 215px;
  margin-left: 25px;
}

.middle-logo {
  width: 200px;
  height: 200px;
  border-radius: 250px;
  box-shadow: 0 0 45px 12px rgb(254 254 254);
  margin-left: 88px;
}

.right-caracter {
  width: 220px;
  height: 220px;
  padding-left: 80px;
}

/*Buttons styles*/
.adj-box-btn {
  margin-top: 10px;
  z-index: 99;
  margin-right: 25px;
}

.btn-mg-r {
  margin-right: 40px;
}

.btn {
  cursor: pointer;
  width: 210px;
  height: 55px;
  border-radius: 10px;
}

.btn-red {
  background-color: #f8393a;
  border: 1px solid #f8393a;
  box-shadow: 0px 3px 2px 0px #be1f20;
}

.btn-blue {
  background-color: #007abe;
  border: 1px solid #007abe;
  box-shadow: 0px 3px 2px 0px #095e8e;
}

.btn-green {
  background-color: #00a957;
  border: 1px solid #00a957;
  box-shadow: 0px 3px 2px 0px #04763f;
}

.letters-btn {
  font-family: "Open Sans";
  font-size: 17px;
  color: #e7e4e4;
  font-weight: 600;
}

/*Middle section*/
.box-section-rl {
  margin-top: 80px;
}

.mg-box-icons {
  margin-left: 40px;
}

.icons-l-middle {
  width: 75%;
}

.mg-box-caracter-r {
  margin-left: 580px;
}

.caracter-r-middle {
  width: 80%;
}

/*Footer styles*/
.box-footer {
  margin-left: 60px;
  margin-top: -40px;
}

.footer-picture {
  width: 90%;
}


